@{
    ViewData["Title"] = "管理员";
}

<h2>当前身份：管理员</h2>

<dev>
    <a href="PersonaleManagement">[个人管理]</a>
    <a href="BillManagement">[账单管理]</a>
    <a asp-action="Password">[修改密码]</a>
    <a href="account/logout">[登出]</a>
</dev>