@model Jason5Lee.PropertyCharge.Models.Personale

@{
    ViewData["Title"] = "Delete";
}

<h1>删除</h1>

<h3>确认删除如下个人?</h3>
<div>
    <h4>Personale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            身份证号
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            姓名
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            住址
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="删除" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
