@{
    ViewData["Title"] = "个人";
}

<h2>当前身份：个人</h2>

<dev>
    <a asp-action="Bill">[查看账单]</a>
    <a asp-action="Payment">[查看缴纳记录]</a>
    <a asp-action="Password">[修改密码]</a>
    <a href="Account/Logout">[登出]</a>
</dev>