@model IEnumerable<Jason5Lee.PropertyCharge.Models.Charge>

@{
    ViewData["Title"] = "缴纳记录";
}

<h1> @ViewData["PersonaleId"] 的缴纳记录如下</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                收费名
            </th>
            <th>
                费用
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var charge in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => charge.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => charge.Fee)
                </td>
            </tr>
        }
    </tbody>
</table>

